.sdk {
    text-align: center;
    padding: 100px 0 44px;
    background: linear-gradient(#dae6f3 0%, #fff 100%);
    position: relative;
}
.sdk>img {
    margin-bottom: 40px;
}
.sdk h3 {
    font-family: "Noto Sans KR";
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}
.sdk h4 {
    width: 648px;
    font-size: 18px;
    line-height: 1.7;
    margin: 0 auto;
    margin-bottom: 40px;
}
.sdk .monitor {
    width: 980px;
    height: 560px;
}
.sdk .screen {
    width: 756px;
    position: absolute;
    /* 580/1920 = 0.3020833333333333 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 108px;
}