@charset "utf-8";
body {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w1440 {
    width: 1440px;
    margin: 0 auto;
}
.nowrap {
    direction: ltr;
    text-align: center;
    color: #fff;
    letter-spacing: inherit;
    box-sizing: inherit;
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap;
}